# Исследование надежности заемщиков

## 1. Открытие репозитория
---

### 1.1. Импортируем pandas и открываем репозиторий

In [1]:
import pandas as pd

In [2]:
# open file
try:
    data = pd.read_csv('/datasets/data.csv')
except:
    url = 'https://drive.google.com/file/d/10W78jJkPi7l6UJPiaL5ZXqh70Ky_jLaf/view?usp=sharing'
    path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
    data = pd.read_csv(path)

### 1.2. Вывод первых 20 ячеек датафрейма `data` на экран.

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

### 1.3. Просмотр общей информации с помощью метода `info()`

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## 2. Нахождение и удаление пропусков, а так же обработка аномальных значений.
---

### 2.1. Нахождение суммы пропусков с помощью метода `isna()` и `sum()`

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

### 2.1. Замена пропусков медианным значением

In [6]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### 2.3. Замена отрицательных значений с  помощью метода `abc()`

In [7]:
data['days_employed'] = data['days_employed'].abs()

### 2.4. Группировка данных и вывод медианного значения для столбца **`days_employed`**/ с помощю `groupby()` и `agg()`

In [8]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

### 2.5. Вывод уникальных значений с помощью метода `unique()` в столбце **`children`**

In [9]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

### 2.6. Удаление аномальных значений в столбце **`children`** и проверка

In [10]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [11]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### 2.7. Заполнение пропусков в столбце **`days_employed`** медианным значением по типу занятости столбца `income_type`

In [12]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [13]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### 2.8. Замена типов данных в столбце **`days_employed`** на целочисленный с помощю метода `astype()`

In [14]:
data['total_income'] = data['total_income'].astype(int)

### 2.9. Обработка дубликатов в столбце `education` и приведение строк к нижнему регистру

In [15]:
data['education'] = data['education'].str.lower()

### 2.10. Вывод строк дубликатов и удаление с помощью `duplicated()` и `drop_duplicates()`

In [16]:
data.duplicated().sum()

71

In [17]:
data = data.drop_duplicates()

## 3 Категоризация данных по категориям
---

### 3.1. Создание функции нового столбца с категориями доходов столбца **`total_income`**

In [18]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [19]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

### 3.2. Вывод уникальных значений столбца **`purpose`**

In [20]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

### 3.3. Создание функции нового столбца на основе столбца **`purpose`**

In [21]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [22]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

## 4. Сортировка данных
---

In [23]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### 4.1. Редактирование строк и приведение к удобному виду столбца **`children`**

In [24]:
data.loc[data['children'] == 0, 'children'] = 'Детей нет' 
data.loc[data['children'] == 1, 'children'] = '1 ребенок'
data.loc[data['children'] == 2, 'children'] = '2 ребенка'
data.loc[data['children'] == 3, 'children'] = '3 ребенка'
data.loc[data['children'] == 4, 'children'] = '4 ребенка'
data.loc[data['children'] == 5, 'children'] = '5 детей'

### 4.2. Создание функции для расчёта процента с точностью до двух знаков после запятой

In [25]:
def percent(p):
    return '{:.2}'.format(p.mean())

### 4.3. Группировка данных по столбцу **`children`**

In [26]:
data.groupby('children')['debt'].agg(['count', percent]).sort_values(by=['percent'], ascending=False)

           count percent
children
4 ребенка     41   0.098
2 ребенка   2052   0.095
1 ребенок   4808   0.092
3 ребенка    330   0.082
Детей нет  14091   0.075
5 детей        9     0.0

**Вывод:** Таким образом, получено более точное представление о том, как наличие детей влияет на финансовое положение семьи. Это помогает понять, насколько сложнее становится финансовое положение семьи с появлением каждого дополнительного ребенка.

### 4.4. Группировка данных по столбцу **`family_status`**

In [27]:
data.groupby('family_status')['debt'].agg(['count', percent]).sort_values(by=['percent'], ascending=False)

                       count percent
family_status
Не женат / не замужем   2796   0.098
гражданский брак        4134   0.093
женат / замужем        12261   0.076
в разводе               1189   0.071
вдовец / вдова           951   0.066

**Вывод:** Как видно меньше всего долгов у категории вдовец/вдова, значит они отсносятся к финансам более ответственно, у категории не женат/не замужем, больше всех долгов в процентном соотношении, значит и расходов значительно больше, что является важным фактором на возврат кредита в срок.

### 4.5. Группировка данных по столбцу **`total_income_category`**

In [28]:
data.groupby('total_income_category')['debt'].agg(['count', percent]).sort_values(by=['percent'], ascending=False)

                       count percent
total_income_category
E                         22   0.091
C                      15921   0.085
A                         25    0.08
B                       5014   0.071
D                        349    0.06

**Вывод:** Ранее были поделены кредитополучатели на категории по доходам в отдельный столбец, что дает возможность более точно использовать информацию, как видно по процентному содержанию люди с более низким доходом имееют большую степень просрочки.

### 4.5. Группировка данных по столбцу **`purpose_category`**

In [29]:
data.groupby('purpose_category')['debt'].agg(['count', percent]).sort_values(by=['percent'], ascending=False)

                          count percent
purpose_category
операции с автомобилем     4279   0.093
получение образования      3988   0.093
проведение свадьбы         2313   0.079
операции с недвижимостью  10751   0.073

**Вывод:** До этого был создан столбец, который поделил кредитополучаталей по категориям запросов на кредит, как видно самый большой процент возврата в срок у категории операции с автомобилем, а значит люди с данной категории будут хуже всего возвращать деньги в срок. Категория операции с недвижимостью (скорее всего ипотечные кредиты) имеет самый маленький процент невозврата, значит люди с данной категории будут более ответственные при возврате кредита, больше суммы, больше проверок при выдаче кредитов, а значит кредитоспособность клиента лучше.

## 5. Общий вывод по 4 пункту
---

<div class="alert alert-info"; style="border-left: 5px solid SteelBlue">
<h4><font color="#FFA500">Общий вывод:</font></h4>    

В процессе анализа стабильности плательщиков, были исследованы, проанализированы и обновлены недостающие данные, устранены дубликаты и клиенты респределены на группы согласно различным критериям и категориям. В результате проведенной работы, на основании изученных данных, были сделаны следующие заключения:
    
Бездетные семьи реже допускают задержки по кредитам - 7.54%,  так как в семьях с детьми расходы растут, а так же бывают непредвиденные расходы. В процессе обработки данных были преобразованы строки в столбце 'children', в последствии сгруппированы и отсортированы.
    
У женатых или замужних клиентов процент должников ниже на 2.2%, чем у никогда не состоящих в браке, так как в основном общий доход складывается засчёт двух членов семьи. Заёмщики, со статусом: "вдовец / вдова", имеют самый малый процент не возвратов кредитов 6,62 % (меньше всех). Овдовевшие это, как правило, возрастные люди и более ответственные люди. Для получение подброй информации данные были сгруппированы по столбцу 'family_status' и отсортированы. 
    
Средний уровень дохода или ниже среднего связан с частотой проблем с оплатой кредитов: люди с таким заработком чаще сталкиваются с трудностями при своевременной оплате кредитов. Данные были сгруппированы по столбцу 'total_income_category' и в дальнейшем отсортированы.
    
Операции с недвижимостью, особенно ипотечные кредиты, характеризуются очень низким процентом невозвратов - 7.26%. Это означает, что клиенты, получающие такие кредиты, обычно являются высокоответственными и надежными. Вследствие этого, их кредитоспособность, как правило, выше, чем у клиентов с другими видами кредитов, а, например, у операций с автомобилем процент возврата в срок в  является самым высоким - 9.35%, потому что эти операции связаны с покупкой автомобилей. Получение образования имеет тоже достаточно высокий процент - 9.25% связано это с тем, что образование является одним из факторов, влияющих на уровень дохода. Чем выше уровень образования, тем больше шансов на получение высокооплачиваемой работы.
Для получения информации данные группировались по столбцу 'purpose_category' и были получены следующие выводы. 

    
</div>